<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         forceCoversAnnotation="true"
         verbose="false"
         strict="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="3"
         timeoutForLargeTests="8"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="true"
         colors="true">

    <testsuites>
        <testsuite name="Crunchmail PHP Client Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Exception</directory>
            </exclude>
        </whitelist>
    </filter>


</phpunit>
